<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flycode.healthbloom">

    <application
        android:name=".HealthBloomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- BASE ACTIVITY -->
        <activity android:name=".ui.base.BaseView" />

        <!-- SPLASH ACTIVITY -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <!-- APP INIT MODULE -->
        <activity
            android:name=".ui.appInitialization.AppInitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>

        <!-- WEIGHT MODULE -->
        <activity
            android:name=".ui.weight.WeightOverview.WeightOverviewActivity"
            android:label="@string/weight_activity_label"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.weight.WeightEntry.WeightEntryActivity"
            android:label="@string/title_activity_weight_entry"
            android:theme="@style/AppTheme"
            android:parentActivityName=".ui.weight.WeightOverview.WeightOverviewActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.weight.WeightOverview.WeightOverviewActivity" />
        </activity>

        <!-- HOME MODULE -->
        <activity android:name=".ui.home.HomeActivity" />
    </application>
</manifest>